# Pipeline to build and publish for deployment

trigger:
- main

pool:
  vmImage: windows-latest

variables:
  solution: '**/Net50WindowsDeploymentTest.sln'
  buildConfiguration: 'DEBUG'
  targetFramework: 'net5.0-windows'

steps:

- task: DotNetCoreCLI@2
  displayName: DotNet Restore
  inputs:
    command: restore
    projects: $(solution)
    feedsToUse: 'select'
    vstsFeed: 'd589caf8-6e77-4aa6-9ffd-e644da7de4b1/f566eb63-1603-4f24-bf96-70495e7e38e7'

- task: DotNetCoreCLI@2
  displayName: DotNet Build
  inputs:
    command: build
    projects: $(solution)
    arguments: '--configuration $(buildConfiguration) --no-restore'
    publishWebProjects: false

- task: DotNetCoreCLI@2
  displayName: DotNet Publish
  inputs:
    command: publish
    projects: $(solution)
    arguments: '--configuration $(buildConfiguration) --output $(build.ArtifactStagingDirectory) --self-contained true --framework "$(targetFramework)" --no-build'
    zipAfterPublish: True

- task: PublishBuildArtifacts@1
  displayName: Publish Build Artifact
  inputs:
    PathtoPublish: '$(build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'