@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h1 class="display-4">Digging Deeper</h1>
    <p>Need to dig just a little deeper than "Hello World".</p>

    <h1 class="display-4">Logging Directory</h1>
    <p>I sure hope this is the logging directory: @Model.GetLoggingDirectory()</p>
</div>
